body {
  width: 100vw;
  height: 100vh;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-box {
  width: 500px;
  height: 500px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-box {
  width: 300px;
  height: 300px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-inner-box1 {
  margin: 20px;
  width: 70px;
  height: 70px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-inner-box1 p {
  color: white;
  font-size: 40px;
}

.inner-inner-box2 {
  margin: 20px;
  width: 70px;
  height: 70px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-inner-box2 p {
  color: white;
  font-size: 40px;
}
